@font-face {
  font-family:sourcesanpro ;
  src: url(fonts/SourceSans3-VariableFont_wght.ttf);

}



body{
font-family: sourcesanpro;
margin: 0;
}

nav{

  display: flex;
  justify-content: space-around;
  
}
nav img{

  object-fit: contain;
  width: 150px;
}


ul {

  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  
}

li{
  margin-right: 20px;
  color: white;
  
}
.pros-section h2 {
  text-align: center;
  margin-top: 200px;
  color: white;
}
.hero-container img{

  height: 50px;
}
.hero-container{
  background-size: cover;
  background-image: url(./images/Object.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 1200px;
  width: 1440px;
  
 
  
}
.hero-text{
  text-align: center;
  padding-top: 20px;
  width: 100%;
 
}
.hero-text h1{
  color: white;
  font-weight: bold;
  font-size: 150px;
  margin-bottom: 0px;
  margin-top: 200px;
  padding: 0px;
}
.hero-text span{
  display: inline-block;
  margin-right: 50px;
  color: white;
  font-size: medium;

}
 button{
    color: white;
    background-color: rgb(204, 6, 161);
    height: 40px;
    width:150px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    border: none;
    justify-self: center;
    padding: 0;


}
.pros{
  display: flex;
  justify-content: space-between;
  padding-left:200px;
  padding-right:200px;
  margin-top:100px ;
  color: white;
}

span , h4{
color: rgb(206, 6, 179);
}
.pros div{
  text-align: center;
}
.pros img{
  height: 80px;
  width: 80px;
}

#image2{

  border-radius: 40px;
}
#purple-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  background-color: rgb(245, 17, 176);
  color: white;
}
#purple-section img{
  height:100px;
}

#quote{
  margin: 0px;
}
#purple-sec-text{
  width: 550px;
  padding: 40px;
}
#tutorial-sec{
  display: flex;
  justify-content: center;
padding-left: 50px;

}
.tutorial-video{
  width: 250px;
  padding:20px;
  
}
.video-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-rating p{
  color: rgb(206, 6, 179);

}
.stars{
  display: flex;
  color: rgb(206, 6, 179);

}
.tutorial-video h4 {
  margin: 0px;
}


.phillip-small-img{
  height: 20px;
  margin-right: 5px;
}
.phillip-profile{
  display: flex;
  align-items: center;
}
.memberships{
  display: flex;
  justify-content:space-between;
  text-align: center;
  padding: 50px;

}

.memberships div{
  text-align: center;
  width: 200px;
  color: white;
  
}
#membership-sec{
  background-color: rgb(10, 10, 34);
  text-align: center;
  padding: 50px;
  color: white;
}

#faqs{
  display: flex;
  justify-content: center;
}

.faq-row{
  margin-right: 100px;
  margin-bottom: 50px;
  width:400px;
  padding-left: 100px;
 
}
i{
  color: white;
  margin-right: 10px;
}


